<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->


<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="MobileTaasEntities" connectionString="metadata=res://*/MobileTaasModel.csdl|res://*/MobileTaasModel.ssdl|res://*/MobileTaasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssqlmobiletaas.cpbz5fv9yrjw.us-west-2.rds.amazonaws.com;initial catalog=mobiletaas;persist security info=True;user id=sqladmin;password=1234qwer;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>
